:global {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width:450px) {
    .box {
      width: 100%;
      height: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
    }

    //院长视角
    .allGradeswrap {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .allGradeshead {
        width: 100%;
        height: 100px;
        background-color: rgba(0, 118, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 28px;
        text-align: center;
        font-family: 'Roboto';

        div {
          width: 1440px;
          margin: 0 auto;
          height: 100px;
          line-height: 100px;
        }
      }
     
      .allGradesmain {
        width: 1440px;
        margin: 15px auto;
        border: 1px solid rgba(187, 187, 187, 1);

        .allGradesbm {
          display: flex;
          align-items: center;
          height: 80px;
          position: relative;

          .allGradespost {
            position: absolute;
            right: 155px;
            top: 12px;
          }

          .allGradesmingdan {
            width: 70px;
            height: 39px;
            line-height: 39px;
            color: rgba(16, 16, 16, 1);
            font-size: 14px;
            text-align: left;
            font-family: 'SourceHanSansSC-regular';
            padding-right: 44px;
            margin-left: 30px;
          }

        }

        .allGradesnav {
          width: 1440px;
          height: 102px;
          box-sizing: border-box;
          padding: 88.5px 30px;
          display: flex;
          align-items: center;


          .allGradesclassList {
            width: 1120px;
            display: flex;
            flex-wrap: wrap;
          }

          .allGradesclass {
            width: 70px;
            height: 39px;
            line-height: 39px;
            color: rgba(16, 16, 16, 1);
            font-size: 14px;
            text-align: left;
            font-family: 'SourceHanSansSC-regular';
            padding-right: 44px;
          }

          .allGradesclassList {
            span {
              padding: 0 10px;
              border: 1px solid #1890ff;
              margin-right: 20px;
              margin-bottom: 10px;
              height: 39px;
              line-height: 39px;
              background: #e6f1fc;
              color: #1890ff;
              border-radius: 5px;
            }
            .listActive{
              color: #e6f1fc;
              background:#1890ff
            }
            span:hover{
              cursor: pointer;
            }
          }

          .allGradesTitle {
            position: relative;
            left: 90px;
            top: -18px;
          }
        }

        .allGradespos {
          width: 64px;
          height: 17px;
          background: #aabbfd;
          border-radius: 10px;
          display: flex;
          position: relative;
          top: 20px;
          left: -80px;

          div {
            flex: 1;
            height: 100%;
            border-radius: 10px;
          }

          .allGradesposwhite {
            background: #ccc;
          }

          .circle {
            position: absolute;
            left: 0;
            top: -9px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: #5677fc;
          }
        }
      }
    }
  }


}
