:global * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: 0;
}

:global html, :global body, :global #root {
  width: 100%;
  height: 100%;
}

:global html {
  font-size: calc(100/375*100vw);
}

@media screen and (max-width: 449px) {
  :global .box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  :global .homeHead {
    height: .4rem;
    background-color: #3f51b5;
    color: #fff;
    line-height: .4rem;
    text-align: center;
  }
  :global main {
    flex: 1;
    overflow: auto;
  }
  :global .home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.55rem;
    height: 2.4rem;
  }
  :global .home .title {
    font-size: 18px;
    text-align: center;
    margin-bottom: .15rem;
  }
  :global .home ul {
    display: flex;
    width: 2rem;
    margin: auto;
  }
  :global .home ul a {
    flex: 1;
    text-align: center;
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    border-bottom: 2px solid #ccc;
    color: #999;
  }
  :global .home ul .active {
    color: #3f51b5;
    border-bottom: 2px solid #3f51b5;
  }
  :global .home .login, :global .home .register {
    width: 100%;
  }
  :global .home .login li, :global .home .register li {
    margin-bottom: .1rem;
    margin-top: .25rem;
  }
  :global .home .login li input, :global .home .register li input {
    border: 1px solid #ccc;
    height: .3rem;
    padding-left: .1rem;
    width: 100%;
  }
  :global .home .login li button, :global .home .register li button {
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    color: #fff;
    background-color: #3f51b5;
    border: 0;
  }
  :global .home .login p input, :global .home .register p input {
    margin-right: .1rem;
  }
  :global .home .login p span, :global .home .register p span {
    font-size: 14px;
  }
  :global .head {
    width: 100%;
    height: .4rem;
    background-color: #0076FF;
    color: #fff;
    line-height: .4rem;
    text-align: center;
    font-size: 14px;
  }
  :global .nav {
    width: 98%;
    height: auto;
    margin: 10px auto;
    border: 1px solid #ccc;
    line-height: .6rem;
    display: flex;
    flex-wrap: wrap;
  }
  :global .nav .navLeft {
    flex: 6;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  :global .nav .navLeft span {
    width: .7rem;
    height: .2rem;
    display: inline-block;
    margin-right: .15rem;
    text-align: center;
    line-height: .2rem;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  :global .nav .navLeft .span {
    background-color: #E6F1FC;
    color: #1989FA;
    border-width: 0px;
  }
  :global .nav .navLeft .spanActive {
    background-color: #0076FF;
    color: #fff;
  }
  :global .nav .navLeft .addClass {
    border: 1px solid #333;
  }
  :global .nav .navRight {
    flex: 4;
    text-align: center;
    font-size: 12px;
  }
  :global .nav .navRight span {
    margin-right: 5px;
    font-size: 14px;
  }
  :global .nav .navRight .solid {
    color: #5677fc;
  }
  :global .search {
    height: 2.3rem;
    margin: 15px auto;
    line-height: .4rem;
    padding-left: .2rem;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  :global .search span {
    display: inline-block;
  }
  :global .search input {
    width: 2.4rem;
    height: .3rem;
    border: 1px solid #dcdfe6;
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  :global .search input:nth-of-type(1) {
    padding-left: 15px;
    color: #909399;
  }
  :global .search input:nth-of-type(2),
  :global .search input:nth-of-type(3) {
    color: #bbbbbb;
    text-align: center;
  }
  :global .search button {
    width: .95rem;
    height: .3rem;
    line-height: .3rem;
    background-color: #E6F1FC;
    color: #1989FA;
    border-radius: 4px;
    border: 0;
  }
  :global .map {
    width: 100%;
    height: auto;
    margin: 10px auto;
    font-size: 14px;
  }
  :global .map .echarsMap {
    width: 90%;
    height: 5rem;
    margin-left: .15rem;
  }
  :global .map .mapFoot {
    width: 100%;
    height: auto;
    background-color: #F2F1F1;
    display: flex;
    flex-wrap: wrap;
  }
  :global .map .mapLeft {
    width: 50%;
    font-size: 12px;
  }
  :global .map .mapLeft span {
    display: inline-block;
    height: .3rem;
    line-height: .3rem;
    padding: 0 10px;
    border-radius: 4px;
    background-color: white;
    color: #101010;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid #bbbbbb;
    margin: 10px 0 10px 20px;
  }
  :global .map .mapRight {
    width: 50%;
    font-size: 12px;
  }
  :global .map .mapRight span {
    display: inline-block;
    height: .3rem;
    line-height: .3rem;
    padding: 0 10px;
    border-radius: 4px;
    background-color: white;
    color: #101010;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid #bbbbbb;
    margin: 10px 0 10px 20px;
  }
  :global .map .mapRight span a {
    color: #333;
  }
  :global .deailog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
  }
  :global .deailog .mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.4rem;
    height: 3rem;
    line-height: .2rem;
    border-radius: 4px 4px 4px 4px;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    padding: .1rem;
  }
  :global .deailog h3 {
    height: .4rem;
    line-height: .4rem;
    font-size: 16px;
  }
  :global .deailog ul {
    width: 2.1rem;
    height: 1.5rem;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    font-family: PingFangSC-regular;
  }
  :global .deailog ul li {
    height: .3rem;
    margin-top: 15px;
  }
  :global .deailog ul li input {
    width: 1.4rem;
    height: .3rem;
    line-height: .3rem;
    padding-left: 20px;
    border-radius: 4px 4px 4px 4px;
    background-color: white;
    border: 1px solid #dcdfe6;
  }
  :global .deailog ul li i {
    width: .45rem;
    height: .3rem;
    line-height: .3rem;
    font-style: normal;
    display: inline-block;
    border-radius: 4px 4px 4px 4px;
    background-color: #e6f1fc;
    text-align: center;
    border: 1px solid #a3d0fd;
  }
  :global .deailog ul li span {
    margin-right: 20px;
  }
  :global .deailog .btns {
    width: 100%;
    height: .4rem;
    margin-top: .2rem;
  }
  :global .deailog .btns button {
    width: .65rem;
    height: .36rem;
    line-height: 20px;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    text-align: center;
    border: 1px solid #d9d9d9;
  }
  :global .deailog .btns button:nth-of-type(1) {
    margin-left: .8rem;
  }
  :global .deailog .btns button:nth-of-type(2) {
    margin-left: 20px;
    background-color: #1890FF;
    color: #fff;
  }
  :global .analyze {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
  }
  :global .analyze .mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.4rem;
    height: 3rem;
    line-height: .2rem;
    border-radius: 4px 4px 4px 4px;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    padding: .1rem;
  }
  :global .analyze h3 {
    height: .4rem;
    line-height: .4rem;
    font-size: 16px;
  }
  :global .analyze ul {
    width: 2.1rem;
    height: 1.8rem;
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-regular;
    padding: .1rem;
  }
  :global .analyze ul li {
    margin-top: 15px;
    display: flex;
  }
  :global .analyze ul li input {
    width: 1.4rem;
    height: .3rem;
    line-height: .3rem;
    padding-left: 20px;
    border-radius: 4px 4px 4px 4px;
    background-color: white;
    border: 1px solid #dcdfe6;
  }
  :global .analyze ul li i {
    width: .45rem;
    height: .3rem;
    line-height: .3rem;
    font-style: normal;
    display: inline-block;
    border-radius: 4px 4px 4px 4px;
    background-color: #e6f1fc;
    text-align: center;
    border: 1px solid #a3d0fd;
  }
  :global .analyze ul li span {
    display: inline-block;
    line-height: .4rem;
    margin-right: .1rem;
  }
  :global .analyze ul li textarea {
    width: 1.4rem;
    height: .4rem;
    line-height: 20px;
    border-radius: 4px 4px 4px 4px;
    background-color: white;
    border: 1px solid #dcdfe6;
  }
  :global .analyze ul li:nth-of-type(2) > span {
    margin-right: .38rem;
  }
  :global .analyze .btns {
    width: 100%;
    height: .4rem;
    margin-top: .2rem;
  }
  :global .analyze .btns button {
    width: .65rem;
    height: .36rem;
    line-height: 20px;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    text-align: center;
    border: 1px solid #d9d9d9;
  }
  :global .analyze .btns button:nth-of-type(1) {
    margin-left: .7rem;
  }
  :global .analyze .btns button:nth-of-type(2) {
    margin-left: 20px;
    background-color: #1890FF;
    color: #fff;
  }
  :global .allGradeswrap {
    width: 100%;
    height: 100%;
    font-size: 0.14rem;
  }
  :global .allGradeswrap .allGradeshead {
    width: 100%;
    height: .6rem;
    background: #5677fc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  :global .allGradeswrap .allGradesmain {
    border: 1px solid #ccc;
  }
  :global .allGradeswrap .allGradesmain .allGradesnav {
    width: 95%;
    font-size: .001rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  :global .allGradeswrap .allGradesmain .allGradesnav .allGradesclass {
    width: 0.85rem;
    padding: 0.04rem 0.05rem;
  }
  :global .allGradeswrap .allGradesmain .allGradesnav .allGradesclassList {
    display: flex;
    flex-wrap: wrap;
  }
  :global .allGradeswrap .allGradesmain .allGradesnav .allGradesclassList span {
    padding: 0.04rem 0.05rem;
    border: 1px solid #5677fc;
    margin: 0.05rem;
    background: #e6f1fc;
    color: #5677fc;
    border-radius: 5px;
  }
  :global .allGradeswrap .allGradesmain .allGradesnav .allGradesclassList .listActive {
    background: #5677fc;
    color: white;
  }
  :global .allGradeswrap .allGradesmain .allGradesbm {
    font-size: .001rem;
  }
  :global .allGradeswrap .allGradesmain .allGradesbm {
    width: 95%;
    height: 0.35rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }
  :global .allGradeswrap .allGradesmain .allGradesbm .allGradespost {
    position: absolute;
    right: 0.2rem;
  }
  :global .allGradeswrap .allGradesmain .allGradesbm .allGradespos {
    position: relative;
    right: 60%;
    top: 13px;
    width: .3rem;
    height: 0.075rem;
    border-radius: 1rem;
    background: #5677fc;
  }
  :global .allGradeswrap .allGradesmain .allGradesbm .allGradespos .circle {
    position: absolute;
    left: 0;
    top: 50%;
    background: white;
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    transform: translate(0, -50%);
    border: 1px solid #ccc;
  }
}
